@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.question-3 {
  padding: 5%;
  background-color: $page-background;
  color: $primary-text;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    @include mSubHeader;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $comments 1px solid;
    padding: 1rem 0;
  }

  &__checkbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

    &:checked {
      background-color: $interactive;
    }
  }

  &__button {
    @include mButtons;
    @include mNextButton;
    width: 100%;
  }
}
