@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.nav {
    background-color: $page-background;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 85vh;
    // justify-content: center;

    &__title {
        color: $primary-text;
        @include mOther;
        @include mSubHeader;
        text-align: center;
        padding-top: 2rem;
    }
   

    &__week {
        text-decoration: none; 
        color: $primary-text;
        @include mNextButton;
        @include mButtons;
        text-align: center;
        width: 90%;


    }
}