//primary colors
$primary-text: #ffffff; //white global text color
$primary-blk: #000000; // black global text color
$interactive: #1186f4; // instock-indigo, interactive elements
$interactive-background: rgba(46, 102, 229, 0.07); //indigo with 7% opacity
$comments: #7f7f7f; // for comments and sidenotes 



//background colors
$header-background: #232940; // graphite, top nav header background, CTA btn hover state background
$page-background: #04192f; //light-grey, page background, table column header background, CTA background

