//primary colors
$primary-text: #ffffff; //white global text color
$primary-blk: #000000; // black global text color
$interactive: #2e66e5; // instock-indigo, interactive elements
$interactive-background: rgba(46, 102, 229, 0.07); //indigo with 7% opacity
$global: #ffffff; // global white color


//background colors
$header-background: #232940; // graphite, top nav header background, CTA btn hover state background
$page-background: #04192f; //light-grey, page background, table column header background, CTA background

//secondary colors
$secondary-text: #ffffff //secondary text for recommendations and anecdotes

