@font-face {
  font-family: "Rubik";
  src: url("https://fonts.googleapis.com/css2?family=Rubik&display=swap")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("https://fonts.googleapis.com/css2?family=Rubik&display=swap")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Storm Gust";
  src: url("../../assets/fonts/Storm-Gust.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
