@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.day {
  padding: 5%;
  background-color: $page-background;
  color: $primary-text;

  &__title {
    @include mNextButton;
    @include mButtons;
    font-size: 1rem;
  }
}

.card {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  &__name {
    @include mWorkoutName;
    width: 100%;
  }
  &__gif {
    mix-blend-mode: hard-light;
    width: 100%;
  }

  &__schema {
    @include mComment;
    flex: 1;
  }

  &__target {
    @include mTargetMuscle;
  }
}

.quote {
    @include mOther;
    font-size: 2rem;
}