@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.dashboard {
    background-color: $page-background;
    @include mContainer;

    &__header {
        gap: 1rem;
    }

    &__title {
        @include mHeader;
        gap: 1rem;
    }

    &__name {
        width: 8rem;

    }

    &__content-box {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    &__motto {
        @include mHeader;
        color: $secondary-text;
        width: 40%;
        line-height: 2.5rem;

    }
}