@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.footer {
    background-color: $page-background;
    color: $primary-text;
    padding: 1rem;
    display: flex;
    justify-content: center;
}